.hide {
  display: none;
}

/* #region Variables */
:root {
  scroll-behavior: smooth;
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --primary-cl: 17, 17, 17;
  --secondary-cl: 76, 76, 76;
  --accent-cl: 253, 146, 34;
  --light-cl: 250, 250, 250;
  --dark-cl: 30, 24, 35;
  --white-cl: 255, 255, 255;
  --beige-cl: 252, 241, 224;
  /* Others */
  --indent-col: 32px;
  --indent-row: var(--indent-col);
  --items: 1;
  --trns-slow: 600ms ease-out;
  --trns-fast: 300ms ease-in;
}
/* #endregion Variables */
/* #region Animations */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(calc(100px * var(--direction)));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-to-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.4);
  }
  2% {
    transform: scale(0.8);
  }
  4% {
    transform: scale(1.1);
  }
  6% {
    transform: scale(1.3);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-150px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/* #endregion */
/* #region Base */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--primary-cl));
  background: rgb(var(--light-cl));
  transition: 300ms;
}
body:has(.toggler-control:checked) {
  filter: invert(1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
button {
  padding: 0;
  color: currentColor;
  cursor: pointer;
}
/* #endregion Base */
/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ingridients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 60px 0;
  }
}
/* Mobile styles -> base styles */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }
}
.main-title {
  max-width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: rgb(var(--light-cl));
}
@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-title {
    animation: slide-down 600ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms
      both;
  }
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 283px;
  margin: 0 auto 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ingridients-title,
  .made-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    max-width: 412px;
    font-size: 24px;
    margin: 0 auto 50px;
  }
}
.accent {
  color: rgb(var(--accent-cl));
}
.btn {
  min-width: 120px;
  min-height: 41px;
  padding: 10px 26px;
  font-weight: 600;
  line-height: 1.21;
  color: rgb(var(--white-cl));
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100px;

  transition: var(--trns-fast);
  transition-property: color, background-color, border-color;
}
@media only screen and (min-width: 768px) {
  .btn {
    min-width: 144px;
    padding: 14px 40px;
  }
}
.btn-accent {
  background: rgb(var(--accent-cl));
}
.btn-accent:hover,
.btn-accent:focus {
  color: rgb(var(--accent-cl));
  background: rgb(var(--beige-cl));
}
.btn-light {
  color: rgb(var(--white-cl));
  border-color: rgba(var(--light-cl), 1);
}
.btn-light:hover,
.btn-light:focus {
  color: rgb(var(--accent-cl));
  border-color: rgba(var(--accent-cl), 1);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: rgba(var(--accent-cl), 1);
}
.btn-dark:hover,
.btn-dark:focus {
  color: rgb(var(--white-cl));
  background: rgb(var(--accent-cl));
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-row, 32px);
  column-gap: var(--indent-col, 32px);
}
.card-set-item {
  flex-basis: calc(
    (100% - var(--indent-col) * (var(--items) - 1)) / var(--items)
  );
}
/* #endregion Common */
/* #region Logo */
.logo {
  padding: 25px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
@media only screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.logo-accent {
  font-style: italic;
}
.logo-icon {
}
/* #endregion Logo */
/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-dark {
  --social-cl: var(--primary-cl);
}
.socials-light {
  --social-cl: var(--white-cl);
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(var(--social-cl), 0.1);
  color: rgb(var(--social-cl));
  transition: var(--trns-fast);
  transition-property: color, border-color;
}
.socials-link:hover,
.socials-link:focus {
  color: rgb(var(--accent-cl));
  border-color: rgba(var(--accent-cl), 0.1);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion Socials */
/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .header-menu {
    margin-right: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-menu {
    margin-right: 90px;
  }
}
.header-menu-list {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .header-menu-list {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header-menu-list {
    gap: 24px;
  }
}
.header-menu-item {
}
/* Normal state */
.header-menu-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  transition: var(--trns-fast);
  transition-property: color;
}
/* Active state */
.header-menu-link:hover,
.header-menu-link:focus {
  color: rgb(var(--accent-cl));
}
.header-menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}
.header-menu-link.current::after {
  background-color: rgba(253, 146, 34, 1);
}
@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

/* #endregion Header */
/* #region Hero */
.hero {
  margin-bottom: 80px;
}
.hero .container {
  max-width: 335px;
  padding: 20px;
  padding-top: 395px;

  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.jpg');
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.avif');
}
@media (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.jpg');
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.avif');
  }
}
@media only screen and (min-width: 768px) {
  .hero .container {
    max-width: 704px;
    padding: 40px;
    padding-top: 671px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@1x.jpg');
  }

  @media (min-resolution: 192dpi) {
    .hero .container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/hero/hero-bg_tab@2x.jpg');
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/hero/hero-bg_tab@2x.avif');
    }
  }
}
/* @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@2x.jpg');
  }
} */
@media only screen and (min-width: 1200px) {
  .hero .container {
    max-width: 1136px;
    padding: 40px;
    padding-top: 381px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@1x.jpg');
  }
}
@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 32px;
}
.hero-list {
  display: inline-flex;
  gap: 14px;
}
.hero-item {
}
@media only screen and (min-width: 1200px) {
  .hero-btn {
    animation: slide-to-left 600ms cubic-bezier(0.68, -0.55, 0.27, 1.55)
      calc(1600ms * var(--delay)) both;
  }
}

.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: rgb(var(--white-cl));

  transition: var(--trns-fast);
  transition-property: color;
}
.hero-link:hover,
.hero-link:focus {
  color: rgba(var(--accent-cl), 1);
}
@media only screen and (min-width: 1200px) {
  .hero-link-text {
    animation: text-focus-in 1000ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 2600ms
      both;
  }
}
.hero-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(var(--white-cl), 1);
  transition: var(--trns-fast);
  transition-property: background-color;
}
@media only screen and (min-width: 1200px) {
  .hero-link-wrapper {
    animation: roll-in-left 1000ms ease-out 2600ms both;
  }
}
.hero-link:hover .hero-link-wrapper,
.hero-link:focus .hero-link-wrapper {
  background: rgba(var(--accent-cl), 1);
}
.hero-link-icon {
  fill: rgba(var(--accent-cl), 1);
  transition: var(--trns-fast);
  transition-property: fill;
}
.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon {
  fill: rgba(var(--white-cl), 1);
}
/* #endregion Hero */
/* #region Benefits */
.benefits {
  padding: 20px 0;
  background: rgb(var(--dark-cl));
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;

  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-list {
    justify-content: center;
  }
}
.benefits-item {
  position: relative;
  flex-basis: 308px;
}
.benefits-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc(50% - 62px);
  right: -45px;
  display: block;
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 1199px) {
  .benefits-item:not(:last-child)::after {
    display: none;
  }
}
.benefits-wrapper {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-icon {
}
.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: rgb(var(--light-cl));
}
.benefits-desc {
  color: rgba(var(--white-cl), 0.7);
}
/* #endregion Benefits */
/* #region Ingridients */
.ingridients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingridients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients {
    padding-top: 120px;
  }
}
.ingridients-title {
}
.ingridients-list {
  --indent-col: 20px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    --items: 2;
    --indent-col: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients-list {
    --items: 4;
    --indent-row: 24px;
  }
}
.ingridients-item {
  position: relative;
  padding: 28px;
  padding-top: 32px;
  border: 1px solid transparent;
  border-radius: 15px;
}
@media only screen and (min-width: 1200px) {
  .ingridients-item {
    padding: 28px 23px;
  }
}
@media only screen and (max-width: 767px) {
  .ingridients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
.ingridients-item:nth-child(2n) {
  border-color: rgb(var(--accent-cl));
  background-color: rgb(var(--white-cl));
}
.ingridients-item:nth-child(4n + 1) {
  background-color: rgb(var(--accent-cl));
}
.ingridients-item:nth-child(4n + 3) {
  background-color: rgb(var(--dark-cl));
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: none;
  stroke: rgb(var(--white-cl));
}
.ingridients-item:nth-child(2n) .ingridients-icon {
  stroke: rgb(var(--accent-cl));
}
.ingridients-ill {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .ingridients-ill {
    width: 214px;
    height: 160px;
  }
}
.ingridients-desc {
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(var(--primary-cl));
}
@media only screen and (min-width: 1200px) {
  .ingridients-desc {
    margin-top: 36px;
  }
}
.ingridients-item:nth-child(2n + 1) > .ingridients-desc {
  color: rgb(var(--white-cl));
}
/* #endregion Ingridients */
/* #region Made */
.made {
}
.made-title {
}
.made-warpper {
  display: flex;
  gap: 20px;
}
.made-wrapper-left {
  border-radius: 15px;
  overflow: hidden;
}
.made-img {
}
.made-wrapper-right {
  flex-basis: 516px;
  padding: 32px;
  border-radius: 15px;
  background: rgb(var(--white-cl));
}
.made-caption {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
}
/* #endregion Made */
/* #region Products */
.products {
}
.products-title {
}
.products-list {
  --indent-col: 18px;
  --indent-row: 24px;
}
.products-item {
  padding: 32px 20px;
  background: rgb(var(--white-cl));
  border-radius: 15px;
  border: 1px solid rgba(var(--dark-cl), 0.1);
  text-align: center;
}
.products-ill {
}
.products-name {
  margin-block: 8px 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(var(--primary-cl), 0.7);
}
.products-price {
  min-width: 94px;
  min-height: 33px;
  padding: 8px 20px;
  font-weight: 600;
  background: rgb(var(--light-cl));
  border-radius: 100px;
  border: 1px solid rgba(var(--dark-cl), 0.1);
}
/* #endregion Products */
/* #region Bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --indent-col: 16px;
  --items: 3;
}
.bestsellers-item {
}
.bestsellers-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--light, #fafafa);
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  filter: blur(7.5px);
  transition: 400ms ease-in 0s, 300ms ease-in-out 600ms;
  transition-property: transform, filter;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
  filter: blur(0px);
}
.bestsellers-img {
  border-radius: 15px 15px 0 0;
}
.bestsellers-wrapper {
  padding: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  background: rgb(var(--white-cl));
}
.bestsellers-desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion Bestsellers */
/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  --indent-col: 28px;
  --items: 3;
  margin-bottom: 50px;
}
.reviews-item {
  position: relative;
  padding: 24px;
  padding-top: 56px;
  background: rgb(var(--white-cl));
  border-radius: 15px;
  border: 1px solid rgba(var(--dark-cl), 0.1);
  background: rgb(var(--white-cl));
  box-shadow: 0px 10px 100px 0px rgba(var(--dark-cl), 0.1);
}
.reviews-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  text-align: center;
  color: rgba(var(--primary-cl), 0.7);
}
.reviews-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: rgb(var(--light-cl));
}
.reviews-btn::after,
.reviews-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: 100px;
  animation: pulse 10500ms ease-out infinite both;
  /* animation-play-state: paused; */
}
.reviews-btn::before {
  animation-delay: 400ms;
  background-color: rgba(253, 146, 34, 0.7);
}
.reviews-btn::after {
  animation-delay: 800ms;
  background-color: rgba(253, 146, 34, 0.5);
}
.reviews-btn:hover::after,
.reviews-btn:hover::before {
  /* animation-play-state: running; */
}
/* #endregion Reviews */
/* #region Footer */
.footer {
  padding: 50px 0;
  background: rgb(var(--dark-cl));
}
.footer-top {
  display: flex;
  gap: 50px;
  padding-bottom: 50px;
}
.footer-slogan {
  max-width: 300px;
  margin-right: auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: rgb(var(--white-cl));
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  color: rgb(var(--white-cl));
}
.footer-list {
}
.footer-address {
}
.address {
}
.address-list {
}
.address-item:not(:last-child) {
  margin-bottom: 4px;
}
.address-link {
  text-align: center;
  color: rgb(var(--white-cl));
  transition: var(--trns-fast);
  transition-property: color;
}
.address-link:hover,
.address-link:focus {
  color: rgb(var(--accent-cl));
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  display: block;
  padding: 18px 0;
  font-weight: 500;
  line-height: 1.14;
  color: rgb(var(--white-cl));
  transition: var(--trns-fast);
  transition-property: color;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgb(var(--accent-cl));
}
/* Footer form */
.footer-form {
  max-width: 458px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-form-field {
  position: relative;
  max-width: 313px;
  width: 100%;
}
.footer-form-input {
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  outline: transparent;
  background-color: transparent;
  color: rgb(var(--white-cl));
}
.footer-form-label {
  position: absolute;
  top: 50%;
  left: 24px;
  padding: 0 12px;
  transform: translateY(-50%);
  color: rgb(var(--white-cl));
  background-color: rgb(var(--dark-cl));
  transition: var(--trns-fast);
}
.footer-form-input:focus + .footer-form-label,
.footer-form-input:not(:placeholder-shown) + .footer-form-label {
  transform: translateY(-190%);
}
.footer-form-input::placeholder {
  opacity: 0;
  transition: opacity 200ms ease-in 0s;
}
.footer-form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 300ms;
}
/* #endregion Footer */
/* #region Modal window*/
.backdrop {
  position: fixed;
  inset: 0;

  background-color: rgba(var(--primary-cl), 0.5);
  backdrop-filter: blur(2px);
  transition: var(--trns-slow);
  transition-property: opacity, visibility;
  transition-delay: 0ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  max-width: 311px;
  width: 90%;
  min-height: 584px;
  padding: 40px;
  background-color: rgb(var(--white-cl));
  border-radius: 15px;

  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.21, 1.5);
  transition-property: transform, opacity;
  transition-delay: 600ms;
}
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 517px;
  }
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
  transition-delay: 0ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-btn-icon {
}
.modal-cta {
  max-width: 298px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-form {
}
/* Modal form */
.review-form {
}
.review-form-wrapper {
  margin-bottom: 18px;
}
.review-form-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.review-form-field {
  position: relative;
  margin-top: 8px;
}
.review-form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgb(64, 64, 64);

  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.03);
  transition: var(--trns-fast);
}
.review-form-input:focus {
  border-color: rgb(var(--accent-cl));
}
.review-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: rgba(64, 64, 64, 1);
  pointer-events: none;
  transition: var(--trns-fast);
}
.review-form-input:focus + .review-form-icon {
  stroke: rgb(var(--accent-cl));
}
.review-form-message {
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  resize: none;
}
.review-form-message:focus {
  border-color: rgb(var(--accent-cl));
}
.review-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.review-form-agreement {
  margin-bottom: 40px;
}
.review-form-agreement-desc {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.review-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  cursor: pointer;
  transition: var(--trns-fast);
}
input[type='checkbox']:checked
  + .review-form-agreement-desc
  > .review-form-checkbox {
  border-color: transparent;
  background-color: rgb(var(--accent-cl));
}
.review-form-checkbox-icon {
  transform: scale(0.25);
  fill: transparent;
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
input[type='checkbox']:checked
  + .review-form-agreement-desc
  > .review-form-checkbox
  > .review-form-checkbox-icon {
  fill: rgb(var(--white-cl));
  transform: scale(1);
}
.review-form-agreement-link {
  color: rgb(var(--accent-cl));
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* #endregion */

/* #region Checkbox ver.2 */
.normal,
.active {
  transition: var(--trns-slow);
}
.review-icon > .normal {
  opacity: 1;
}
.review-icon > .active {
  opacity: 0;
}
input[type='checkbox']:checked
  + .review-form-agreement-desc
  .review-icon
  > .normal {
  opacity: 0;
}
input[type='checkbox']:checked
  + .review-form-agreement-desc
  .review-icon
  > .active {
  opacity: 1;
}
/* #endregion Checkbox ver.2 */
/* #region Checkbox ver.3 */
.review-checkbox {
  position: relative;
  appearance: none;

  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  /* background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.94874 9.75416C4.38459 9.75416 4.71409 9.58679 4.93724 9.25207L9.76464 1.97696C9.84484 1.85841 9.90411 1.7416 9.94247 1.62654C9.98082 1.50799 10 1.39467 10 1.28658C10 0.986723 9.8954 0.739164 9.68619 0.543906C9.48047 0.345161 9.22594 0.245789 8.92259 0.245789C8.71339 0.245789 8.53556 0.28763 8.38912 0.371312C8.24616 0.451507 8.11018 0.590977 7.98117 0.789722L3.92782 7.15478L1.89854 4.72278C1.67887 4.46824 1.40342 4.34098 1.07218 4.34098C0.761855 4.34098 0.505579 4.44035 0.303347 4.63909C0.101116 4.83784 0 5.08714 0 5.387C0 5.52299 0.0209205 5.652 0.0627615 5.77403C0.108089 5.89258 0.190028 6.01636 0.308577 6.14537L3.00209 9.32006C3.24965 9.60946 3.5652 9.75416 3.94874 9.75416Z' fill='white' /%3E%3C/svg%3E"); */

  transition: var(--trns-fast);
}
.review-checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: white;
}
.review-checkbox:checked {
  background-color: rgb(var(--accent-cl));
  border-color: transparent;
  background-size: 10px;
}
/* Validation */
.validation-status {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}
.validation-status .success,
.validation-status .error {
  opacity: 0;
  transition: var(--trns-fast);
}
.review-form-input:not(:placeholder-shown):required:valid
  ~ .validation-status
  .success {
  opacity: 1;
}
.review-form-input:not(:placeholder-shown):required:invalid
  ~ .validation-status
  .error {
  opacity: 1;
}
.error-text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 6px));
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: red;
  opacity: 0;
  transition: var(--trns-fast);
}
.review-form-input:not(:placeholder-shown):required:invalid ~ .error-text {
  opacity: 1;
}
/* #endregion Checkbox ver.3 */
/* #region Toggler */
.toggler-wrapper {
  position: relative;
  width: 40px;
  height: 20px;
  margin-left: 20px;
  border-radius: 16px;
  border: 1px solid rgb(var(--primary-cl));
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}
.toggler-wrapper:has(.toggler-control:checked) {
  border-color: rgb(var(--accent-cl));
}
.toggler-wrapper:has(.toggler-control:focus-visible) {
  box-shadow: 0 0 0 4px rgba(var(--accent-cl), 0.25);
}
.toggler-icon {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: rgb(var(--primary-cl));
  border-radius: 50%;
  transform: translateX(0) translateY(-50%);
  transition: transform 300ms ease-in-out;
}
.toggler-wrapper:has(.toggler-control:checked) > .toggler-icon {
  background-color: rgb(var(--accent-cl));
  transform: translateX(calc(100% + 3px)) translateY(-50%);
}
.toggler-control {
}
/* #endregion */
/* #region Mobile menu*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;

  background-color: rgb(var(--white-cl));

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu li:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu .link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--NAVY-BLUE, #2e2f42);
}
.mobile-menu .link.active {
  color: rgb(var(--accent-cl));
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts li:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contacts .link {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
@media only screen and (min-width: 428px) {
  .mobile-contacts .link.accent {
    font-size: 36px;
    line-height: 40px;
    color: rgb(var(--accent-cl));
  }
}
@media only screen and (max-width: 427px) {
  .mobile-socials {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 428px) {
  .mobile-socials {
    gap: 56px;
  }
}
/* #endregion */
