/* @media screen and (min-width: 768px) { */
body {
  background-color: gray;
}
/* h1 {
  font-size: 20px;
}
.container {
  width: 768px;
}

.desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
} */
/* } */
